body {
  font-family: "Titillium Web", sans-serif;
  color: black;
  background-color: #AED6F1;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 0;
  padding: 2em;

}


button{
  padding: 4px 22px;
  font-size: 14px;
  font-style: bold;
  background-color: lightblue;
  border-radius: 10px;
  color:grey;
}

.container {
  background-color: white;
  margin: auto;
  width: 60%;
  border: 3px solid #5DADE2;
  padding: 10px;
  text-align: center;
  display:block;
  align-items: center;

}

.topContainer{
  column-count: 3;
  column-gap: 5px;
  margin-top: 15px;

}


.verticalBox{
  display: block;
  align-items: center;
}

.currentBalance{
  width:90px;
  font-size: 25px;
  font-weight: bold;
  text-align: center;
  border: solid;
  border-color: black;
  align-items: center;
  margin-left: 30%;
  margin-top: 10px;
}
